body {
    color: #003755;
}
.navbar {
    background-color: #003755;
    // color: #009edd !important;
    * {
        color: #009edd !important;
        background-color: #003755;
    }
}
.list-group-item {
    background-color: #d7e9f2;
    border: 1px solid rgba(0, 0, 0, 0.325);
    border-left: none;
    border-right: none;
    form {
        outline: 0;
        padding: 0;
        button {
            margin: 0;
        }
    }
}
.list-group {
    border-radius: 0;
}
.item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_align {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.right_align {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.buttons {
    display: flex;
    float: right;
    justify-content: right;
    align-items: flex-end;
    * {
        margin-left: 5px;
        padding: 0;
    }
}
.light_blue_button,
.dark_blue_button {
    border: none;
    background-color: #009edd;
    color: white;
    // font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    padding: 0px 21px;
    // height: 36px;
    text-align: center;
    vertical-align: bottom;

    text-decoration: none;
    transition: all;
}
.light_blue_button:hover,
.dark_blue_button:hover {
    transition-duration: 0.3s;
    box-shadow: 0px 2px 5px #5557;
    text-decoration: none;
    color: white;
}
.dark_blue_button {
    background-color: #003755;
}
.card-header {
    background-color: #003755;
    color: white;
    font-weight: 900;
    font-size: 1.1rem;
}
.card-body {
    background-color: #d7e9f2;
}
select {
    width: 100%;
    // margin-bottom: 20px;
    border: 1px solid #5554;
    border-radius: 5px;
    padding: 6px 0;
    // line-height: 1.6;
}
.filter {
    border-top: none;
    form {
        // background-color: white;
        // padding: 15px 0;
        border-radius: 7px;
    }
    //
}
fieldset {
    // border: 1px solid #5557;
    // padding: 10px;
    // margin: 0 10px;
    display: block;
    text-align: left;
    justify-content: flex-start;
    // align-items: center;
    legend {
        font-size: 14px;
        margin: 0 5px 0 0;
    }
    input {
        width: 100%;
        margin: 0 15px 0 0;
    }
    small {
        width: 100%;
    }
}
.sort-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_name,
label {
    font-weight: 900;
    font-size: 1.1rem;
    margin: 5px 0;
}
.smaller_letters {
    font-size: 0.7rem;
}

.note-editor.note-airframe,
.note-editor.note-frame {
    background-color: white;
}
.photo {
    width: 150px;
    // height: 150px;
    margin-right: 10px;
}
.pdf_link {
    text-decoration: none;
    color: #003755;
}
.pdf_link:hover {
    color: #009edd;
}

input[type="file" i] {
    padding: 0;
    align-items: center;
    line-height: 1.6;
    height: auto;
}
